<div class="area" >
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <div class="main-div">
    <h2>You don’t know what you want to study ? </br>Don’t worry, our personality test will help you.</h2>
    <p>Write down a few sentences about yourself and see the results (minimum 100 words)</p>
    <div class="personality-form">
      <%= simple_form_for @mbti, method: :get, url: intermediary_path do |f| %>
        <%= f.text_area :name,
                        id: "myText",
                        label: "Your description",
                        :rows => 10,
                        :cols => 50,
                        :input_html => { :minlength => 100 ,
                                          required: true}, error: 'You have to enter at least 100 words' %>
        <div class="count-button">
          <div class="line-width"></div>
          <div class="line-width"><p>Word count: <span id="wordCount">0</span></p></div>
          <div class="btn-position line-width"><%= f.submit "Submit", value: "Submit", class: "btn-home-form", id: "btn-position", disabled: true %></div>
        </div>
      <% end %>
    </div>
  </div>
</div >

