
<div class="body-personality">
  <h2>You don’t know what you want to study ? </br>Don’t worry, our personality test will help you.</h2>
  <p>Write down few sentences about yourself and see the results (minimum 100 words)</p>
    <div class="personality-form">
      <%= simple_form_for @mbti, method: :get, url: intermediary_path do |f| %>
        <%= f.input :name, as: :text, label: "Your description", :input_html => {:minlength => 100 , required: true}, error: 'You have to enter at least 100 words' %>
        <%= f.submit "Submit", value: "Submit" %>
      <% end %>
    </div>
</div>
