<div class="form-list-uni">
  <h1>Which university are you from?</h1>
    <select name="university_id" id="university_id" class="university-input-option">
      <% @universities.each do |university| %>
        <option value=<%= new_admin_university_program_path(university) %> ><%= link_to university.name, new_admin_university_program_path(university)%></option>
      <% end %>
    </select>
      <div class="uni-programs-btn">
      <button  id="click_new_program">Submit</button>
      <%= link_to "add new uni", new_admin_university_path %>
    </div>
</div>

<script>
  document.querySelector("#click_new_program").addEventListener("click" , () => {
     window.location = document.querySelector("#university_id").value;

  })
</script>
