<h1>Add a new University</h1>

<%= simple_form_for([:admin, @university]) do |f| %>

  <div class="form-inputs">
    <%= f.input :name,
                required: true,
                input_html: { autocomplete: "Name" }%>
    <%= f.association :location,
                as: :select,
                label_method: :city_and_country,
                value_method: :id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit"%>
  </div>
<% end %>
