// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Istok+Web&display=swap');

body {
  margin: 0;
  font-family: 'Istok Web', sans-serif;
  font-size: 18px;
  background: #F4F4F4;
}
p {
  font-weight: 200;
}
h1, h2, h3 {
  font-family: 'Istok Web', sans-serif;
  font-weight: 600;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
h3 {
  font-size: 23px;
}
.padded {
  padding: 30px 0;
}

.red-button {
  background-color: #F2444E;
  padding: 14px 16px;
  color: white;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 100px;
}

.red-button:hover {
  background-color: #D32A34;
  color: white;
  text-decoration: none;
}

.content {
  padding: 0 200px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content h2 {
  text-align: center;
}

.line {
  height: 1px;
  width: 80px;
  background-color: #66A98F;
}

.body-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #EEFCFF;
}

.line-title {
    height: 2px;
    width: 200px;
    background-color: grey;
    margin-bottom: 40px;
  }

.home-form {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  margin-top: 40px;

  .input-col {
    width: 80vw;
    display: flex;
    justify-content: space-between;
  }
  .form-group {
    width: 38vw;
  }

  #program_price {
    width: 38vw;
  }

  h2 {
    margin-top: 40px;
  }
}

.button-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-home-form {
  width: 150px;
  background-color: #4278D6;
  padding: 10px 16px;
  color: white;
  margin-bottom: 40px;
  border-radius: 3px;
  border: none;
}

.btn-home-form:hover {
  background-color: #295BB1;
}

.section-inputs {
  margin-top: 40px;
  background-color: #EEEEEE;
  padding: 20px 80px 20px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-column {
  margin-top: 10px;
}

.btn-search {
  background-color: #66A98F;
  padding: 5px 20px;
  color: white;
  border-radius: 3px;
  margin-top: 20px;
}

.btn-search:hover {
  background-color: #4D977A;
  color: white;
}

.topics-section {
  background-color: lightgrey;
  padding: 20px 200px;
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-home {
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  margin-top: 40px;
  background-color: black;

  &:hover {
    box-shadow: 0px 0px 10px 10px rgba(102, 169, 143, 0.39);
  }
}

.cards-home {
  a {
    text-decoration: none;
  }

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  flex-grow: 1;
  padding: 10px;
}

@media (max-width: 768px) {
  .cards-home {
    grid-template-columns: 1fr 1fr;
  }

  #map {
    display: none;
  }
}

@media (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }

  #map {
    display: none;
  }
}

.concept {
  margin-top: 130px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;

  .line-title {
    width: 100px;
  }

  .concept-button {
    margin-top: 40px;
  }

  h2 {
    margin-top: 40px;
  }
}

.concept-line {
  width: 53vw;
  height: 1px;
  background-color: grey;
  position: absolute;
  top: 123vh;
}

.bulles {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin-bottom: 30px;
}

.bulle {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  p {
    width: 200px;
  }
}

.round {
  width: 130px;
  height: 130px;
  border: 2px solid #4278D6;
  background-color: #EEFCFF;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  i {
    font-size: 50px;
    color: lightgrey;
  }
}

@media (max-width: 768px) {
  .bulles {
    flex-direction: column;
  }

  .concept-line {
    display: none;
  }

  .input-col {
    flex-direction: column;
  }

}

@media (max-width: 575px) {
  .bulles {
    flex-direction: column;
  }

  .concept-line {
    display: none;
  }

  .input-col {
    flex-direction: column;
  }

}

.concept-test {
  margin-top: 20px;
}


