.body-index-program {
  display: flex;
  background-color: #FBF7F7
}

.index-program-left {
  background-color: white;
  padding: 50px;
  height: 100vh;
  position: sticky;
  top: 0;

  #program_price {
    width: 100%;
  }

  .btn-home-form {
    width: 100%;
  }
}

.index-program-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 50px 50px 0 50px;
}

.card-info {
  padding: 10px;
  text-align: justify;
  background-color: #E7E6E6;
  border-radius: 2px;
  margin: 10px
}

.card-description h3 {
  font-size: 24px;
}

.card-description p {
  font-size: 16px;
}

.cards-index {
  width: 100%;
}


.card-product {
  overflow: hidden;
  height: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 20px;
  position: relative;
  border-radius: 10px;

  .change-icon-programs {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.height-card {
  height: 200px;
}

.flex-search {
  display: flex;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  width: 85%;
}

.card-product h3 {
  font-size: 16px;
  margin-top: 5px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.card-product-img {
  width: 300px;
  background-size: cover;
  background-position: center;
}

.container-index {
  margin-top: 10px;

  .btn-home-form {
    width: 100%;
  }
}

.card-product-right {
  padding: 15px;
  width: 90%;

  p:last-child {
    text-align: center;
  }

  h2 a {
    color: #4278d6;
  }
}

@media (max-width: 768px) {
  .card-product-img {
    width: 600px;
  }

  .container-index {
    padding: 10px 10px;
  }

  .card-product-infos {
    display: inline-block;
  }

  .card-product-right {
    width: 1200px;
  }
}

@media (max-width: 575px) {
  .cards {
    width: 200px;
  }

  .container-index {

  }

  .card-product-right {
    width: 950px;
  }
}

.card-product-infos {
  display: flex;
  width: 100%;
  height: 200px;
  border-radius: 20px;
}
