.body-review {
  margin-top: 40px;
  padding: 0 500px;

  .form-review {
  background-color: #E7E6E6;
  padding: 40px 40px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);

  }

  h2 {
    text-align: center;
  }
}
