.personality-results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.personality-trait {
  height: 200px;
  min-height: 0px !important;

}

// .personality-trait + .personality-trait {
//   margin-left: 20px;
// }


.container-personnality {
  width: 1096px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

.profile-mbti {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 46px;
  position: relative;
}

.profile-mbti h1 {
  font-family: 'Exo', sans-serif;
  font-size: 45px ;
  margin-top: 24px;
  opacity: 0;
}

#mbti-image {
  opacity: 0;
  position: absolute;
  left: 189px;
  top: -5px;
}

.profile-mbti h3 {
    margin-top: 24px;
    opacity: 0;
}

.opac {
  opacity: 1 !important;
}

.categories-explanation {
  margin-top: -124px;
  padding-top: 164px;
  text-align: center;
  background-color: #4278D6;
  color: white;
  clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mbti-description {
  padding-top: 16px;
  display: flex;
  justify-content: center;
}

.mbti-description p {
  width: 756px;
  color: white;
  padding-top: 24px;

}

.category-cards {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 40%;
}

.personality-announcement {
  transition: opacity ease-in 1s;
}

#profile-announcement {
  transition: opacity ease-in 2.5s;
}
.my-category-card {
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  text-align: center;
  background-color: #FFFFFF;
  width: 201px;
  height: 232px ;
  padding: 20px;
  margin: 20px;
  border-top: 3px solid #4278D6;
}

#cat-name {
  margin-top: 26px;
}

#box-mbti {
  margin-top: 22px;
}
