<div class="footer">
  <div class="footer-links footer-width-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright footer-width-copyright">
    <p>The entirety of this site is protected by copyright © 2019 Findyouni.com.</p>
  </div>
  <div class="footer-width-empty"></div>
</div>
