<div class="navbar-minimalist">
  <div class="navbar-left">
    <%= link_to root_path do %>
      <i class="fas fa-graduation-cap"></i>
    <% end %>
  </div>
  <div class="navbar-right">
    <ul>
      <% if !user_signed_in? %>
        <p>you have to login before reviewing</p>
          <%#= link_to "Log in", new_user_session_path %>
        <li class="green-btn"><%= link_to 'Login', user_session_path%></li>
       <% elsif policy(Favorite).create? %>
        <%= link_to favorites_path do %>
        <li><i class="far fa-heart"></i></li>
        <li class="green-btn"><%= link_to 'Logout', destroy_user_session_path, method: "delete" %></li>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>
