<div class="navbar-minimalist">
  <div class="navbar-left">
  <a href="index.html"><i class="fas fa-graduation-cap"></i></a>
  </div>
  <div class="navbar-right">
    <ul>
      <a href="#"><li class="green-btn">Login</li></a>
      <li><i class="far fa-heart"></i></li>
    </ul>
  </div>
</div>
